apiVersion: v2
name: dawarich
description: "Self-hosted alternative to Google Location History"
type: application
version: 2.0.0
# renovate datasource=docker depName=docker.io/freikin/dawarich
appVersion: "1.0.4"
dependencies:
  - name: redis-ha
    repository: https://dandydeveloper.github.io/charts
    version: 4.35.7
    condition: redis.enabled
    alias: redis
sources:
  - https://dawarich.app
