apiVersion: v2
name: dawarich
description: "Self-hosted alternative to Google Location History"
type: application
version: 1.0.8
# renovate datasource=docker depName=docker.io/freikin/dawarich
appVersion: "0.36.2"
dependencies:
  - name: redis-ha
    repository: https://dandydeveloper.github.io/charts
    version: 4.35.5
    condition: redis.enabled
    alias: redis
sources:
  - https://dawarich.app
