{{- if .Values.secret.create }}
kind: Secret
apiVersion: v1
metadata:
  name: {{ include "dawarich.secretName" . }}
  labels:
    {{- include "dawarich.labels" . | nindent 4 }}
type: Opaque
data:
  {{- include "dawarich.secretValue" (dict "Key" "keyBase" "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresHost" "Template" true "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresPort" "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresDatabase" "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresUsername" "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresPassword" "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "redisPassword" "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "photonApiKey" "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "geoapifyApiKey" "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "oidcClientId" "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "oidcClientSecret" "Root" .) | nindent 2 }}
{{- end }}