kind: Secret
apiVersion: v1
metadata:
  name: {{ include "dawarich.fullname" . }}
  labels:
    {{- include "dawarich.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if not .Values.keyBase.existingSecret }}
  keyBase: {{ .Values.keyBase.value | b64enc }}
  {{- end }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresHost" "Value" .Values.postgresql.host "Template" true "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresPort" "Value" .Values.postgresql.port "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresDatabase" "Value" .Values.postgresql.auth.database "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresUsername" "Value" .Values.postgresql.auth.username "ExistingSecret" .Values.postgresql.auth.existingSecret "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresPassword" "Value" .Values.postgresql.auth.password "ExistingSecret" .Values.postgresql.auth.existingSecret "Root" .) | nindent 2 }}
  {{- if and .Values.redis.auth (not .Values.redis.existingSecret) }}
  redisPassword: {{ .Values.redis.redisPassword | required ".redis.redisPassword is required!" | b64enc }}
  {{- end }}
  {{- if and (not .Values.photonApiKey.existingSecret) .Values.photonApiKey.value }}
  photonApiKey: {{ .Values.photonApiKey.value | b64enc }}
  {{- end }}
  {{- if and (not .Values.geoapifyApiKey.existingSecret) .Values.geoapifyApiKey.value }}
  geoapifyApiKey: {{ .Values.geoapifyApiKey.value | b64enc }}
  {{- end }}
  {{- if and .Values.oidc.enabled (not .Values.oidc.clientId.existingSecret) .Values.oidc.clientId.value }}
  oidcClientId: {{ .Values.oidc.clientId.value | b64enc }}
  {{- end }}
  {{- if and .Values.oidc.enabled (not .Values.oidc.clientSecret.existingSecret) .Values.oidc.clientSecret.value }}
  oidcClientSecret: {{ .Values.oidc.clientSecret.value | b64enc }}
  {{- end }}
