kind: Secret
apiVersion: v1
metadata:
  name: {{ include "dawarich.secretName" . }}
  labels:
    {{- include "dawarich.labels" . | nindent 4 }}
type: Opaque
data:
  {{- include "dawarich.secretValue" (dict "Key" "keyBase" "Value" .Values.keyBase) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresHost" "Value" .Values.postgresql.host "Template" true "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresPort" "Value" .Values.postgresql.port "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresDatabase" "Value" .Values.postgresql.auth.database "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresUsername" "Value" .Values.postgresql.auth.username "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "postgresPassword" "Value" .Values.postgresql.auth.password "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "redisPassword" "Value" .Values.redis.password "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "photonApiKey" "Value" .Values.photonApiKey "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "geoapifyApiKey" "Value" .Values.geoapifyApiKey "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "oidcClientId" "Value" .Values.oidc.clientId "Root" .) | nindent 2 }}
  {{- include "dawarich.secretValue" (dict "Key" "oidcClientSecret" "Value" .Values.oidc.clientSecret "Root" .) | nindent 2 }}
